html,body{
    background-color: #f6f5f3;
    font-family: Courier New, Courier;
    text-align: center;
  }
html{
  height: 100%;
}
#title_header{
    text-align: left;
    font-size: 30px;
    width: 200px;
  }
header{
    
    top: 1px;
    cursor: default;
    
  }
#jobtitle{
    padding-top: 10%;
    text-decoration: underline;
    overflow: hidden;  
    font-size: 40px;
    cursor: default;
  }

  #text-rotate{
    position: relative;
    font-size: 20px; 
    height: 15px; 
    cursor: default;
  }

   /*CSS for the socials*/
.socials{
    position: relative;
    text-align: left;
    width: 200px;
    margin: 10px;
    bottom: 18px;
  }
#soc{
  transition: opacity .2s;
}
  
#soc:hover{
    opacity: 0.5; 
    cursor: default;
  }

  /*CSS for the Nav*/

nav{
    padding-right: 2.5%;
    cursor: default;
  }
  
nav ul li {
    display: inline-block;
    margin: 10px;
    margin-top: 15px;
    
  }
nav ul li a {
    color: #3d3d3f;
    text-decoration: none;
    
  }
li{
  transition: opacity .2s;
}
li:hover{
    text-decoration: none;
    opacity: 0.5;  
  }

  /*CSS for the modals*/
#background_modal{
    height: 500px; 
}
  

#modal_about, #modal_contact #modal_project{
    position: relative;
    width: 600px; 
    height: 500px;   
    top: 50%;
    left: 50%;
    background:#e1e8f0;
    transform: translate(-50%, -0%);
}

#modal_project{
  position: relative;
    width: 600px; 
    height: 500px;   
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -0%);

}

/*CSS for the Project Cards*/


  .project{
    width: 500px;
    height: 350px;
    transform: translate( 12%,-5%);
    
    display: none;
  }
  .top_contact{
    padding-top: 5%;
    text-align: center;
    font-style: italic;
    
  }

  .by{
   text-decoration: underline;
  }

  .mid_contact{
    padding-top: 10%;
  }
    
  
 

  .email{
    padding-top: 3%;
  }

  .email_link{
    text-decoration: none;
    color: black;
    font-weight: bolder;
  }
  


footer {
    height: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: right;
    cursor: default;
  }



  